#search-box {
    margin: auto;
    color: #fefae0;
    background-color: #DDA15E;
    max-width: 1200px;
    margin-top: 50px;
}

#search-button {
    border-color: #606c38;
    color: #fefae0;
    background-color: #606c38
}

#search-button:hover {
    background-color: #283618;
}

#search-by-name-button {
    border-color: #606c38;
    color: #fefae0;
    background-color: #606c38
}

#search-by-name-button:hover {
    background-color: #283618;
}
